/* custom-admin-styles.css */
button[disabled],
input[disabled],
textarea[disabled],
select[disabled] {
  background-color: #eaf0f7 !important;
  color: #222 !important;
  opacity: 1 !important;
}

html[data-theme="dark"] {
  button[disabled],
  input[disabled],
  textarea[disabled],
  select[disabled] {
    background-color: #404040 !important;
    color: #eaf0f7 !important;
    opacity: 1 !important;
  }
}

::selection {
  background: #f5cb5c;
  color: initial;
}
